:root {
    --primary: #111111;
    --secondary: white;
    --tertiary: springgreen;
}

body {
    /* bg color */
    background-color: var(--primary);

    /* fonts */
    font-family: Verdana, sans-serif;
    color: var(--secondary);
}

::selection {
    background: var(--tertiary);
    color: var(--primary);
}

hr {
    border: none;
}

.link {
    color: inherit;
    text-decoration: none;
}

.button {
    vertical-align: middle;
}

.button:hover {
    background: var(--tertiary);
    color: var(--primary);
}

/* navbar */

#nav ul {
    list-style-type: none;
}

#nav li {
    float: right;
    padding: 1em;
}

/* hero */

#hero {
    /* position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: center;
    line-height: .5em;
}

#hero p {
    font-size: 3.5em;
}

#hero small {
    font-size: 1em;
    line-height: 2.5em;
}

#cursor {
    color: var(--tertiary);
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

img {
    width: 128px;
    height: auto;

    border-radius: 50%;


    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* footer */

#footer {
    /* postion */
    position: fixed;
    width: 100%;
    bottom: 1em;
    left: 0;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer small {
    margin: 0.5em;
}

.icon {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}