body {
    /* bg color */
    background-color: #111111;

    /* fonts */
    font-family: Verdana, sans-serif;
    color: white;
}

.link {
    color: inherit;
    text-decoration: none;
}

/* navbar */

#nav ul {
    list-style-type: none;
}

#nav li {
    float: right;
    padding: 1em;
}

/* hero */

#hero {
    /* fonts */
    font-size: 3.5em;

    /* position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#hero p {
    display: inline-block;
    margin-right: 1em;
}

.button {
    /* position */
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;

    background-color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

/* footer */

#footer {
    /* postion */
    position: fixed;
    width: 100%;
    bottom: 1em;
    left: 0;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer small {
    margin: 0.5em;
}

.icon {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}